html{
    background-color: lightgray;
    font-size: 20px;
}
header{
    margin: 0px; 
    background-size: 200px;
    height: 200px;
    margin-bottom: -50px;
    padding-top: 50px;
    background-attachment: fixed;
    text-align: center;
    font-family: "Raleway", sans-serif;
    background-image: url("cover.jpg");
    color: white;
    text-shadow: 2px 2px 8px black;
}body{
    
    margin: 0px;
}h1{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin:10px 0;
    line-height:1.5;
    color: white;
    text-shadow: 2px 2px 8px black;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
    padding: 25px;
    background-color: white;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}.title{
    position: absolute;
    left: 125px;
}
@media screen and (max-width: 1015px)
{
    header{
        height: 250px;
    }
    .title{
        position: initial;
        left: 0px;
    }
}
@media screen and (max-width: 650px)
{
    .container{
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 380px)
{
    
    header{
        background-size: 100%;
        background-repeat: no-repeat;
        height: 300px;
    }
}
@media screen and (max-width: 240px)
{
    h1, h2{
        font-size: 150%;
    }
    header{
        background-size: 100%;
        background-repeat: no-repeat;
        height: 300px;
    }
}