@import url("https://fonts.googleapis.com/css?family=Indie+Flower" );

body, header, footer{
    padding: 0px;
    margin: 0px;
    color: rgb(204, 240, 240);
}
.bodySection{
 margin: 50px;
 margin-top: -10px;
 padding-top: 5px;
 box-shadow: 10px 10px 10px 10px black;
 height: 500px;;
}

.dc{
    position: relative;
    margin: -30px auto 0 auto;
    top: 50%;  
}

.helloworld
{
    font-family: Indie Flower;
}
/** Discord fidgetin muotoilu **/
.dc
{
    float: right;
    margin: 5px;
    margin-top: 75px
}
/** Logon koko **/
.logo
{
    height: 80px;
}
/** Taulukon muotoilu **/
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
/** Määrittää "Top" -painikkeen värin yms. **/
#myBtn 
{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
/** "Top" -painikkeen väri kun hiiri on sen päällä **/
#myBtn:hover 
{
    background-color: #555;
}
/** Kirjautumisruudun tekstin väri **/
.login 
{
    color: white;
}

section 
{
    margin-left: 15px;
}

article 
{
    margin-left: 20px;
}
@media screen and (max-width: 450px)
{
    .dc, .twitter-timeline, .player
    {
        display: none;
    }
}
/** Nollaa tyylin class="nostyle" elementteihin **/
.nostyle {
    all: initial;
    all: none;
}