@import url("https://fonts.googleapis.com/css?family=Indie+Flower" );
body{
    padding: 0px;
    margin:0px;
    text-align: center;
}
h1   {
    font-family: Indie Flower;
    text-align: center;
    font-size: 50px;
}

.logoLink{
    position: fixed;
    top: 8px;
    left: 16px;
}

.socialmedia {

text-decoration: none;
color: black;
margin: 5px;
}

link {
    color: black;
}
.socialmedia {
    text-decoration: none;
    color: black;
    margin: 5px;
}
.links{
    border: 3px solid rgb(14, 14, 14);
    border-radius: 25px;
    padding: 0px;
    margin: 0px;
}
.logo {
    height: 80px;
}

.sivulinkit {
    text-decoration: none;
    color: black;
    margin: 5px; 
    text-align: center;
    font-size: 35px;
}

iframe {
    display: flex;
    margin: 0 auto;
    border: 0;
}

.socialdivs {
  margin-top: 50px;
 font-size: 20px;
 
}

.flexbox {
    text-align: center;
    display: inline-block;
}.flexbox div{
    display: inline-block;
    padding: 25px;
}@media screen and (max-width: 630px){
    .socialdivs {
        margin: 0px;
       
      }
      .flexbox{
          display: block;
          text-align: center;
          max-width: 540px;
      }
      .flexbox div{
        display: inline-block;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
}
@media screen and (max-width: 450px){
    .socialdivs {
        margin: 0px;
       
      }
      .flexbox{
          display: block;
          text-align: center;
          max-width:420px;
      }
      .flexbox div{
        display: inline-block;
        padding-bottom: 0px;
        padding-top: 0px;
}@media screen and (max-width: 350px){
    .socialdivs {
        margin: 0px;
       
      }
      .flexbox{
          display: block;
          text-align: center;
          max-width:320px;
      }
      .flexbox div{
        display: inline-block;
        padding-bottom: 0px;
        padding-top: 0px;
    }
}