@import url("https://fonts.googleapis.com/css?family=Indie+Flower" );
h1   {
    font-family: Indie Flower;
    text-align: center;
    font-size: 50px;
}

.logoLink{
    position: fixed;
    top: 8px;
    left: 16px;
}

.socialmedia {

text-decoration: none;
color: black;
margin: 5px;
}

link {
    color: black;
}
.socialmedia {
    text-decoration: none;
    color: black;
    margin: 5px;
}
.links{
    border: 3px solid rgb(14, 14, 14);
    border-radius: 25px;
    padding: 0px;
    margin: 0px;
}
.logo {
    height: 80px;
}

.sivulinkit {
    text-decoration: none;
    color: black;
    margin: 5px; 
    text-align: center;
    font-size: 35px;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 0;
}

.socialdivs {
  margin-top: 50px;
 font-size: 20px;
 height: 300px;
 
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    padding-right: 50px; padding-left: 50px;
    flex-basis: 400px;
}