@import url("https://fonts.googleapis.com/css?family=Indie+Flower" );

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1   {
    font-family: Indie Flower;
    text-align: center;
    font-size: 50px;
}

.logoLink{
    position: fixed;
    top: 8px;
    left: 16px;
}

.socialmedia {

text-decoration: none;
color: black;
margin: 5px;
}

link {
    color: black;
}
.socialmedia {
    text-decoration: none;
    color: black;
    margin: 5px;
}
.links{
    border: 3px solid rgb(14, 14, 14);
    border-radius: 25px;
    padding: 0px;
    margin: 0px;
}
.logo {
    height: 80px;
}

.sivulinkit {
    text-decoration: none;
    color: black;
    margin: 5px; 
    text-align: center;
    font-size: 35px;
}

iframe {
    display: flex;
    margin: 0 auto;
    border: 0;
}

.socialdivs {
  margin-top: 50px;
 font-size: 20px;
 height: 300px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 25px; padding-left: 25px;
    flex-wrap: nowrap;
}

@media screen and (max-width: 700px){
    iframe{
        height: 650px; width: 300px;
    }
}