@import url("https://fonts.googleapis.com/css?family=Indie+Flower" );

header,body,footer
{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgb(240, 240, 240)
}

body h1
{
    font-size: 40px;
}

body h2
{
    font-size: 30px;
}

.logoLink
{
    position: fixed;
    top: 8px;
    left: 16px;
}

footer
{
    text-align: center;
}

.profilePic
{
    height: 300px;
    border: 10px solid white;
    border-radius: 50%;
}

.hero
{
    background-image: url("../Media/old-board.jpg");    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 541px; 
    padding: 0px;
    margin: 0px;
}

.profileBackground
{
    background-color: white;
    border-radius: 50%;
}

li
{
    padding: -20px;
    margin: -20px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: inline-block;   
    padding: -20px;
}

@media screen and (max-width: 950px)
{
    .profilePic
    {
        height: 200px;
    }
}

@media screen and (max-width: 650px)
{
    .profilePic
    {
        height: 150px;
        border-width: 5px;
    }
}

@media screen and (max-width: 500px)
{
    .profilePic
    {
        height: 75px;
        border-width: 5px;
    }
}