header{
    text-align: center;
    background-color: rgb(14, 14, 14);
    color: white;
}
footer{
text-align: center;
}

.profilePic{
    height: 50%;
    border: 10px solid white;
    border-radius: 50%;
    padding: -20px;
    margin: -20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.hero{
    background-image: url("../Media/old-board.jpg");    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px; 
    padding: 0px;
    margin: 0px;
}
li{
    display: inline-block;   
    padding: -20px;
}