.light-grey{background-color:lightgrey;}
.dark-gey{background-color: darkgrey;}
.black{background-color: black;}
.whitet{color: #fff;}

/**Content rules**/
.content,.auto{margin-left:auto;margin-right:auto}
.content{max-width:980px}
.auto{max-width:1140px}
.container,.panel{padding:0.01em 16px}
.panel{margin-top:16px;margin-bottom:16px}


/**Sivun yleinen fonttityyli**/
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}

/**Font styles**/
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.serif{font-family:serif}
h1,h2,h3,h4,h5,h6,b{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
.wide{letter-spacing:4px}
.small{font-size:12px!important}
.large{font-size:18px!important}

/**Alingment rules**/
.left-align{text-align:left!important}
.right-align{text-align:right!important}
.justify{text-align:justify!important}
.center{text-align:center!important}

/** Padding rules **/
.padding{padding:8px 16px!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}
.padding-large{padding:12px 24px!important}

.border{border:1px solid #ccc!important}

/**Koodi joka pitää koko sivun pystyssä**/
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{content:"";display:table;clear:both}
.row-padding,.row-padding

.col{padding:0 8px}
.col{float:left;width:100%}
.col.s1{width:99.99999%}
@media (min-width:601px){.col.m1{width:33.33333%}.col.m2{width:66.66666%}}
@media (min-width:1300px){.col.l4{width:33.33333%}.col.l8{width:66.66666%}}

.opacity,.hover-opacity:hover{opacity:0.60}
.hoverable tbody tr:hover,.ul.hoverable li:hover{animation: oofbackground 5s infinite;}
.centered tr th,.centered tr td{text-align:center}
.card,.card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.card-4,.hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

/**Margin rules**/
.margin{margin:16px!important}
.margin-top{margin-top:16px!important}
.margin-bottom{margin-bottom:16px!important}
.margin-left{margin-left:16px!important}
.margin-right{margin-right:16px!important}

/**Colors**/
.white,.hover-white:hover{color:#000!important;background-color:#fff!important}

/**Button!**/
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
.spacex:hover {cursor:not-allowed;opacity:0.3}

/**Float**/
.left{float:left!important}
.right{float:right!important}

/**Media screen rule things**/
@media (max-width:600px){.modal-content{margin:0 10px;width:auto!important}.modal{padding-top:30px}
.hide-small{display:none!important}}

/**Lists**/
.ul{list-style-type:none;padding:0;margin:0}
.ul li{padding:8px 16px;border-bottom:1px solid #ddd}
.ul li:last-child{border-bottom:none}

/**Tag, badge**/
.badge,.tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.badge{border-radius:50%;}

/** Määrittää "Top" -painikkeen värin yms. **/
#myBtn 
{
    display: none;
    position: fixed;
    bottom: 12px;
    right: 13px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}
/** "Top" -painikkeen väri kun hiiri on sen päällä **/
#myBtn:hover 
{background-color: #555;}

.logo2{height:55px;top:20px;left:25px;float:left;position:fixed;}

.oof{animation: oof 5s infinite;}
@keyframes oofbackground{
  0%{background-color: white;}
  20%{background-color:blue;}
  40%{background-color:green;}
  60%{background-color:orange;}
  75%{background-color:red;}
  100%{background-color:white}}
@keyframes oof{
  0%{color: red;}
  20%{color:blue;}
  40%{color:green;}
  60%{color:orange;}
  100%{color:red;}}