link {
    color: black;
}a{
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin: 5px;
}
.links{
    border: 3px solid rgb(14, 14, 14);
    border-radius: 25px;
    padding: 0px;
    margin: 0px;
}
.logo {
    height: 80px;
}
.right {
    float: right;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}
.fa:hover {
    opacity: 0.7;
}